html, body {
    margin: 0; padding: 0; border:none; 
    background: #E2D8CF;
    position: relative;
}
div.logo{
    width: 650px;
    height: 276px;
    position:absolute;
    top:66px;
    left: 96px;
}
img.logo{
    width: 100%;
    height: 100%;
}
div.bigpic{
    width: 1398px;
    height: 880px;
    z-index: -1;
    position: absolute;
    top: 12px;
    left: 471px;
}
div.menu{
    position: absolute;
    top: 390px;
    left: 96px;
}
ul{
    list-style-type: none;
}
li{
    padding: 10px 0px;
    color: #402409;
    font-size: 30px;
}
a, a:active, a:visited{
    color: #402409;
    display: inline;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-family: "微軟正黑體";
}
