.countainer{
    width: 80%;
    margin: auto;
    clear: both;
}
body{
    background: #E2D8CF;
}
p.form_title{
    padding-top: 25px;
    font-size: 45px;
}
img{
    height: 70%;
}
div.sq{
    height: 1px;
    clear: both;
}